<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.obob.test.dao.RoleDao">
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO role (
        	Id ,
        	RoleName ,
        	RoleDesc ,
        	CreateTime ,
        	CreateOperatorId ,
        	UpdateTime ,
        	UpdateOperatorId 
        ) VALUES (
        	#{id} ,
        	#{roleName} ,
        	#{roleDesc} ,
        	#{createTime} ,
        	#{createOperatorId} ,
        	#{updateTime} ,
        	#{updateOperatorId} 
        )
    	<selectKey resultType="java.lang.Integer" keyProperty="id">
            select LAST_INSERT_ID() as id
        </selectKey>
	</insert>
    
	<update id="update">
        UPDATE role SET
	        RoleName = #{roleName} ,
	        RoleDesc = #{roleDesc} ,
	        CreateTime = #{createTime} ,
	        CreateOperatorId = #{createOperatorId} ,
	        UpdateTime = #{updateTime} ,
	        UpdateOperatorId = #{updateOperatorId} 
        WHERE 
	        Id = #{id} 
	</update>

    <delete id="delete" parameterType="java.util.Map">
        DELETE FROM role WHERE
        Id = #{id} 
    </delete>
    
    <select id="getById" parameterType="java.util.Map" resultType="com.obob.test.po.RolePo">
    	SELECT *
	    FROM role 
        WHERE 
	        Id = #{id} 
	</select>
	
	<sql id="where">
		<where>	      				
	       <if test="@Ognl@isNotEmpty(id)">
				AND Id = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(roleName)">
				AND RoleName = #{roleName}
			</if>
	       <if test="@Ognl@isNotEmpty(roleDesc)">
				AND RoleDesc = #{roleDesc}
			</if>
	       <if test="@Ognl@isNotEmpty(createTimeBegin)">
				AND CreateTime >= #{createTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(createTimeEnd)">
				AND CreateTime &lt;= #{createTimeEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(createOperatorId)">
				AND CreateOperatorId = #{createOperatorId}
			</if>
	       <if test="@Ognl@isNotEmpty(updateTimeBegin)">
				AND UpdateTime >= #{updateTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(updateTimeEnd)">
				AND UpdateTime &lt;= #{updateTimeEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(updateOperatorId)">
				AND UpdateOperatorId = #{updateOperatorId}
			</if>
		</where>
	</sql>

    <select id="select" parameterType="java.util.Map" resultType="com.obob.test.po.RolePo">
    	SELECT *
	    FROM role 
		<include refid="where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
</mapper>

